/* 
Example CSS file for the tai project

* @author: w.delamare
 * @date: Dec. 2023
*/
html {
    background-color: black;
}


body {
    width: auto;
    margin: 0px auto;
    height: 100vh;
    background-color: white;
}

header{
    background-image: url(/figs/banner.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 4em;
    color: white;
    margin-top: 0px;
    background-color: #0d3d70ad;
    padding: 0.5%;
}

h2 {
    text-align: right;
    /* font-size: 0.5em; */
    padding-right: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

h2::before, h2::after {
    content: "\"";
    color: red;
}


footer {
    background-color: darkgrey;
    text-align: center;
    padding: 1%;
    position: absolute;
    bottom: 0px;
    margin: 0px;
    width: 98%;
}


.error_message {
    border: thin red solid;
    background-color: lightcoral;
    text-align: center;
    width: 60%;
    margin: auto;
}

/* fancy main section */
main {
    background-color: lightgrey;
    border: thin solid grey;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
}

/* Modern h3 */
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color: darkblue;
    border-bottom: thin solid darkblue;
    padding-bottom: 0.5em;
    /* horizontal line after the text */
    display: inline-block;
    position: relative;
    
}

#logoutFormContainer fieldset{
    border : none;
}

#logoutFormContainer fieldset button{
    float: right;
    padding: 1%;
    background-color: #00b7d5a3;
    border-radius: 10px;
    color : white;
}

.loginFormContainer{
    width : 50%;
    margin-left: 25%;
}

.loginFormContainer fieldset{
    display : flex;
    flex-direction : column ;
}

.loginFormContainer fieldset input{
    padding : 2% ;
    margin : 1% ;

}

.loginFormContainer fieldset button[type=submit]{
    padding: 0.5%;
    background-color: #3bc33b;
    color: white;
    border-radius: 10px;
    margin-top: 1%;
}

#brutsOptionContainer{
    display : flex;
}

#brutsOptionContainer div{
    width : 50% ;
}

#brutsOptionContainer div button{
    width : 100% ;
    padding : 1%;
}

#profileSelectionContainer label{
    display: flex;
    flex-direction: column;
}